*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.container input {
    width: 100%;
    margin: auto;
    border-bottom: 2px solid;
    /*Padding altera o tamanho do item (padding = preenchimento)*/
    padding: 20px;
    text-align: right;
    font-size: 30px;
        
}
.container {
    width: 400px;
    /*o comando margin define a distancia entre o container
    e a borda da pagina. nesse caso margin: auto
    faz o container ficar centralizado na tela*/
    margin: auto;
    border: 2px solid;
    /*border-radius define como vai ficar os cantos
    da borda. Nesse caso arredondado*/
    border-radius: 5px;    

}
.botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}


.botao{
    background-color: cadetblue;
    padding: 30px;
    border: 2px solid;
    cursor: pointer;
    font-size: 20px;    
    }

.is-clear, .is-equal{
    grid-column: span 3;
    background-color: rgb(130, 179, 219);
}




